:root {
  --black: #000000;
  --champion-blue: #636688;
  --crystal-bell: #efefef;
  --dire-wolf: #282828;
  --raisin-black: #242223;
  --tangled-web: #b3b3b3;
  --thamar-black: #242424;
  --white: #ffffff;
}

[data-theme='dark'] {
  --card-bg-color: var(--black);
  --main-bg-color: var(--thamar-black);
  --sidebar-active-item-color: var(--dire-wolf);
  --sidebar-bg-color: var(--black);

  --card-bg-negative-color: var(--white);
  --main-bg-negative-color: var(--white);

  /* Text */
  --accent-text-color: var(--white);
  --subtle-text-color: var(--tangled-web);
  --subtle-text-negative-color: var(--champion-blue);
}

[data-theme='light'] {
  --card-bg-color: var(--white);
  --main-bg-color: var(--white);
  --sidebar-active-item-color: #f7f7f7;
  --sidebar-bg-color: var(--crystal-bell);

  --card-bg-negative-color: var(--black);
  --main-bg-negative-color: var(--thamar-black);

  /* Text */
  --accent-text-color: var(--black);
  --subtle-text-color: var(--champion-blue);
  --subtle-text-negative-color: var(--tangled-web);
}
