.message {
  font-size: 14px;
  color: var(--subtle-text-color);
  margin-bottom: 16px;
}

.theme-example-card {
  padding: 24px;
  margin: 16px 0px;
  width: 100%;
  display: flex;
  gap: 16px;
  border-radius: 8px;
}

.light-theme-example-card {
  background-color: #fafafa;
  color: var(--champion-blue);
}

.dark-theme-example-card {
  background-color: var(--chinese-black);
  color: var(--tangled-web);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.dark-username {
  color: var(--white);
}

.dark-theme-description {
  color: var(--tangled-web);
}

.light-username {
  color: var(--black);
}

.light-theme-description {
  color: var(--champion-blue);
}
