.message {
  font-size: 14px;
  color: var(--subtle-text-color);
  margin-bottom: 16px;
}

.themeExampleCard {
  padding: 24px;
  margin: 16px 0px;
  width: 100%;
  display: flex;
  gap: 16px;
  border-radius: 8px;
}

.lightThemeExampleCard {
  background-color: #fafafa;
  color: var(--champion-blue);
}

.darkThemeExampleCard {
  background-color: var(--chinese-black);
  color: var(--tangled-web);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.darkUsername {
  color: var(--white);
}

.darkThemeDescription {
  color: var(--tangled-web);
}

.lightUsername {
  color: var(--black);
}

.lightThemeDescription {
  color: var(--champion-blue);
}
