<main local-class="login-screen">
    <div local-class="login-screen__content">
        <img src="assets/spotify_logo.png" local-class="spotify-logo" alt="Spotify Logo">
        <button local-class="login-button" type="button" {{on "click" this.login}}>Enter</button>
    </div>
</main>