.sidebar {
  position: fixed;
  grid-area: sidebar;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 240px;
  padding-top: 64px;
  background-color: var(--sidebar-bg-color);
}

.active-nav-item {
  background-color: var(--sidebar-active-item-color);
}

.nav-item {
  display: flex;
  padding: 8px 0px 8px 16px;
  border-radius: 4px;
  justify-content: flex-start;
  font-size: 14px;
  gap: 16px;
  align-items: center;
  color: var(--subtle-text-color);
  width: calc(100% - 16px);

  &:hover {
    cursor: pointer;
    color: var(--accent-text-color);

    .sidebar-icon {
      color: var(--accent-text-color);
    }    
  }
}

.sidebar-icon {
  color: var(--subtle-text-color);
  width: 24px;
  height: 24px;
}
