.sidebar {
  position: fixed;
  grid-area: sidebar;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 240px;
  padding-top: 64px;
  background-color: var(--sidebar-bg-color);
}

.activeNavItem {
  background-color: var(--sidebar-active-item-color);
}

.navItem {
  display: flex;
  padding: 8px 0px 8px 16px;
  border-radius: 4px;
  justify-content: flex-start;
  font-size: 14px;
  gap: 16px;
  align-items: center;
  color: var(--subtle-text-color);
  width: calc(100% - 16px);
}

.navItem:hover {
  cursor: pointer;
  color: var(--accent-text-color);
}

.sidebarIcon {
  color: var(--subtle-text-color);
  width: 24px;
  height: 24px;
}

.navItem:hover .sidebarIcon {
  color: var(--accent-text-color);
}
